<%= terminal_output do %>
  <% @build.jobs.each do |job| %>
    <%= job_container @current_tab_name, job do %>
      <table border>
        <tr>
          <th>Event</th>
          <th>Timestamp</th>
        </tr>
        <% job.job_events.each do |job_event| %>
          <tr>
            <td><%= job_event.type %></td>
            <td><%= job_event.created_at %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>
<% end %>
