<% if @build_list.builds.any? %>
  <%= form_tag(project_build_path(@build.project, @build), method: :get, class: "build-filter-form") do %>
    <%= select_tag "branch_name", options_for_select(@build_list.branch_names), prompt: "Branch" %>
    <%= submit_tag "Apply" %>
  <% end %>

  <ul data-controller="build-list">
    <% @build_list.builds.each do |build| %>
      <li>
        <% cache [build, build.finished_at.present?] do %>
          <%= render "builds/list_item", build: build %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  (No builds)
<% end %>
