<div class="build-list-container">
  <% if @build_list.builds.any? %>
    <%= render @build_filter_component %>

    <div class="build-list">
      <ul data-controller="build-list">
        <% @build_list.builds.each do |build| %>
          <li>
            <%= link_to project_build_path(@build.project, build),
              data: { turbo_frame: "build", action: "click->build-list#makeActive", build_list_target: "link" },
              class: build == @build ? "active" : "",
              id: "build_link_#{build.id}" do %>

              <div id="build_status_<%= build.id %>">
                <%= render "builds/list_item", build: build %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    (No builds)
  <% end %>
</div>
