<div class="terminal-container">
  <% if @build.build_logs.any? %>
    <% @build.build_logs.each do |build_log| %>
      <pre class="terminal"><%= ansi_to_html(build_log.content) %></pre>
    <% end %>
  <% else %>
    <pre class="terminal">Nothing here yet</pre>
  <% end %>
</div>
