<div class="terminal-container">
  <%= terminal_tag do %>
    <% @build.jobs.each do |job| %>
      <%= job_container @current_tab_name, job do %>
        <%= ansi_to_html(job.system_logs) %>
      <% end %>
    <% end %>
  <% end %>
</div>
