<div class="terminal-container">
  <%= terminal_tag do %>
    <% @build.jobs.each do |job| %>
      <% if job.system_logs.present? %>
        <%= job_container @current_tab_name, job do %>
          <%= ascii_job_heading(job.order_index) %>
          <%= ansi_to_html(job.system_logs) %>
        <% end %>
      <% else %>
        Nothing here yet<br>
      <% end %>
    <% end %>
  <% end %>
</div>
