<%= turbo_frame_tag "build_details", data: { turbo_action: "advance" } do %>
  <div class="terminal-container">
    <% @build.build_logs.each do |build_log| %>
      <pre class="terminal"><%= ansi_to_html(build_log.content) %></pre>
    <% end %>
  </div>
<% end %>
