<div class="terminal-container">
  <%= terminal_tag do %>
    <% @build.jobs.each do |job| %>
      <%= job_container @current_tab_name, job do %>
        <% if job.test_report.present? %>
          <%= BuildReport.new(job.test_report).to_s.html_safe %>
        <% else %>
          Nothing here yet<br>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
