<div class="terminal-container">
  <% @build.jobs.each do |job| %>
    <% if job.test_output.present? %>
      <pre class="terminal"><%= ansi_to_html(job.test_output) %></pre>
    <% else %>
      <pre class="terminal">Nothing here yet</pre>
    <% end %>
  <% end %>
</div>
