<div class="terminal-container">
  <pre class="terminal">
    <% @build.jobs.each do |job| %>
      <div id="<%= dom_id(job) %>">
        <% if job.test_output.present? %>
          <%= ansi_to_html(job.test_output) %>
        <% else %>
          Nothing here yet
        <% end %>
      </div>
    <% end %>
  </pre>
</div>
