<div class="terminal-container">
  <%= terminal_tag do %>
    <% @build.jobs.each do |job| %>
      <% if job.test_output.present? %>
        <div id="<%= dom_id(job, @partial) %>">
          <%= ascii_job_heading(job.order_index) %>
          <%= ansi_to_html(job.test_output) %>
        </div>
        <br>
      <% else %>
        Nothing here yet<br>
      <% end %>
    <% end %>
  <% end %>
</div>
