<div class="terminal-container">
  <%= terminal_tag do %>
    <% @build.jobs.each do |job| %>
      <% if job.test_report.present? %>
        <%= job_container @current_tab_name, job do %>
          <%= BuildReport.new(job.test_report).to_s.html_safe %>
        <% end %>
      <% else %>
        Nothing here yet<br>
      <% end %>
    <% end %>
  <% end %>
</div>
