<div class="terminal-container">
  <%= terminal_tag do %>
    <% @build.jobs.each do |job| %>
      <% if job.test_report.present? %>
        <div id="<%= dom_id(job, @partial) %>">
          <%= BuildReport.new(job.test_report).to_s.html_safe %>
        </div>
        <br>
      <% else %>
        Nothing here yet
      <% end %>
    <% end %>
  <% end %>
</div>
