<div class="terminal-container">
  <% if @build.report.present? %>
    <pre class="terminal"><%= BuildReport.new(@build.report).to_s.html_safe %></pre>
  <% else %>
    <pre class="terminal">Nothing here yet</pre>
  <% end %>
</div>
