<%= link_to @build.project.name, project_path(@build.project) %>

<h1>Build</h1>

<% if @build.build_events.any? %>
  <table border>
    <tr>
      <th>Time</th>
      <th>Event</th>
    </tr>

    <% @build.build_events.each do |build_event| %>
      <tr>
        <td><%= build_event.created_at %></td>
        <td><%= build_event.type %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  Waiting for spot instance
<% end %>

<% if @build.build_logs.any? %>
  <hr>
  <pre><%= @build.build_logs.first.content.gsub("\n", "<br>").html_safe %></pre>
<% end %>
