<div class="build-wrapper">
  <div class="build-list">
    <%= render "builds/list", current_tab_name: @current_tab_name %>
  </div>

  <div class="build">
    <%= render "builds/show", current_tab_name: @current_tab_name %>
  </div>
</div>
