<h2><%= @project %></h2>

<table border>
  <tr>
    <th>Datetime</th>
    <th>Duration (seconds)</th>
  </tr>

  <% @jobs.each do |job| %>
    <tr>
      <td><%= job.created_at %></td>
      <td class="number"><%= job.duration %></td>
    </tr>
  <% end %>
</table>
