<p style="color: green"><%= notice %></p>

<h1>Projects</h1>

<% if current_user.saturn_installations.empty? %>
  <%= link_to "Install Saturn", ENV["SATURNCI_INSTALLATION_URL"] %>
<% end %>

<p><%= link_to "Add project", new_project_integration_path %></p>

<ul>
  <% @projects.each do |project| %>
    <li><%= link_to project, project %></li>
  <% end %>
</ul>
