<h1><%= @project %></h1>

<h2>Builds</h2>

<% if @builds.any? %>
  <table border>
    <tr>
      <th>Start</th>
      <th>Branch</th>
      <th>Status</th>
    </tr>

    <% @builds.each do |build| %>
      <tr>
        <td><%= link_to build.created_at, build %></td>
        <td><%= build.branch_name %></td>
        <td><%= build.status %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  (No builds)
<% end %>
