<h1><%= @project %></h1>

<h2>Builds</h2>

<%= button_to "Trigger New Build",
  { controller: "builds", action: "create" },
  params: { project_id: @project.id },
  method: :post %>

<% if @builds.any? %>
  <table border>
    <tr>
      <th>Start</th>
      <th>End</th>
    </tr>

    <% @builds.each do |build| %>
      <tr>
        <td><%= link_to build.created_at, build %></td>
        <td><%= build.ended_at %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  (No builds)
<% end %>
