/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  margin: 0;
  padding: 0 5px 0 5px;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul, li {
  margin 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

header {
  margin-top: 5px;
  margin-bottom: 10px;
}

pre {
  margin: 0;
  padding: 0;
}

.build-wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  min-height: 0;
}

.build-list {
  overflow-y: auto;
  min-height: 0;
  width: 600px; /* Set the width to 800px */
}

.terminal {
  background-color: #000;
  color: #FFF;
  padding: 12px;
}
