.build-list {
  border: 2px solid #DDD;
  border-right: 1px solid #DDD;
}

.build-detail {
  border: 2px solid #DDD;
  border-left: 1px solid #DDD;
  padding: 8px;
}

.build-list ul {
  border-bottom: 1px solid #DDD;
  margin: 0;
  padding: 0;
}

.build-list li {
  border-bottom: 2px solid #DDD;
}

.build-list a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: black;
}

.build-list a.active {
  background-color: #EEE;
}

.build-filter-form {
  padding: 8px 8px 10px 8px;
  background-color: #DDD;
}
