.build-list {
  border: 4px solid blue;
  border-right: 2px solid blue;
}

.build-detail {
  border: 4px solid blue;
  border-left: 2px solid blue;
  padding: 8px;
}

.build-list ul {
  border-bottom: 1px solid blue;
  margin: 0;
  padding: 0;
}

.build-list li {
  border-bottom: 4px solid #CCC;
}

.build-list a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: black;
}

.build-list a.active {
  background-color: #DDD;
}
