.build {
  flex: 1;
  min-height: 0;
  border: 2px solid #DDD;
  border-left: 1px solid #DDD;
  display: flex;
  background-color: #000;
  color: #FFF;
}

.build a {
  color: #000;
}

.build-inner {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.build-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.build-details-content {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
}

.terminal-container {
  width: 0;
  min-width: 100%;
  overflow: auto;
}

.terminal {
  background-color: #000;
  color: #FFF;
  overflow: auto;
  padding: 12px;
}

.build-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #000;
  background-color: #FFF;
}

.build-header h2 {
  color: #444;
  margin: 0 0 2px 0;
  padding: 0;
}

.build-header h3 {
  color: #999;
  font-weight: normal;
}

.build-header {
  padding: 12px;
}

.build-action-buttons {
  display: flex;
  gap: 4px;
}

.job-menu-container {
  background-color: #666;
}

ul.job-menu {
  width: 50px;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.job-menu li a {
  padding: 0;
  margin: 5px 0;
  display: block;
  text-decoration: none;
  color: #DDD;
  background-color: #888;
}
