.build-navigation {
  display: flex;
  padding: 0;
  background-color: #DDD;
}

.build-navigation a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: #000;
}

.build-navigation a.active {
  background-color: #777;
  color: #FFF;
}
